body {
    background: url('hintergrundbild.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
#Title {
    font-size: 1000em;
    font-family: "Arial";
    color: #333;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}
.marquee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  font-family: "SRH Text Regular";
  border-radius: 100px;
  background: #ffffff;
  width: 70%;
  padding: 5px 5px;
  margin: 0 auto;
}

.marquee-content {
  display: inline-block;
  animation: scroll 100s linear infinite;
}

.containertext {
    display: flex;
    font-size: 1.0em;
    font-family: "SRH Headline";
    color: #000000;
    text-align: left;
    
}



.table {
    width: 80%;
        font-family: "SRH Text Regular";
        border-radius: 5px;
        border-collapse: separate;
        border-spacing: .2em;
        margin: 0 auto;
        box-shadow: 0 0 .1em #000000;
        position: relative;
        z-index: 1;
}

.table tr:nth-child(even) {
  background-color: #949494 ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10px;
  z-index: 10000;
  text-align: left;
  border-radius: 100px;
  background: #a8dff0;
  margin: 20px;
  padding: 10px 20px;

}
/* Beginn Änderung */
.headbutton {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;

}

.headbutton:hover {
    border-bottom: 2px solid #000000;
}

/* Ende Änderung */
.titel
{
    display: flex;
    font-size: 2.0em;
    font-family: "SRH Headline";
    color: #000000;
    text-align: left;
    padding-left: -15px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 20px;
    gap: 15px;
    overflow: hidden;
}
.nav li a {
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
    font-family: "SRH Text Regular";
    font-weight: bold;
}
.center {
    text-align: center;
}

.parent {

    width: 90%;
    margin: 30px auto; /* zentriert */
    background: rgba(247, 247, 247, 0.8); /* leicht transparent */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.content {
    display: flex;
    flex-wrap: wrap; /* Zeilenumbruch bei Bedarf */
    gap: 20px; /* Abstand zwischen den Kindern */
}

.child {
    width: calc(50% - 10px);;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.child img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.eingabefeld {
   background-color: #868686; 
   width: 300px; /* Breite des Formulars */ 
   padding: 10px; 
   border: 1px solid #000000;

}

.containerueberschriften {
    font-size: 1.5em;
    font-family: "SRH Headline";
    font-weight: bold;
    color: #000000;
    text-align: center;
    
}


.logo {
    height: 90px;
    display: flex;
    width: auto;
}